body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    * {
        
        margin: 5px auto 5px auto;
    }
}

canvas {
    border: 5px solid black;
}

#notes {
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;

}

.section {
    padding: 20px;
    outline: 2px solid black;
    width: fit-content;
    margin-right: 5px;
    margin-left: 5px;
    width: 25%;

    * {
        margin: 1px;
    }
}